.subtitle {
	margin: 0 auto;
	width: fit-content;
	&_text {
		width: 100%;
		font-size: 36px;
		font-weight: bold;
		color: $first-color;
		text-transform: uppercase;
		text-align: center;
	}
	&_line {
		margin-top: 20px;
		background-color: $main-color;
		height: 4px;
		width: 100%;		
		font-size: 16px;
	}
	&_black {
		color: $second-color;
	}
	&_red {
		color: $main-color;
	}
}

@media (max-width: 991.98px) {
	.subtitle {
		&_text {
			font-size: 28px;
		}
	}
}

.section_descr {
	display: block;
	margin: 60px auto 0 auto;
	height: 140px;
	width: 100%;
	color: $second-color;
	line-height: 28px;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	&_white {
		color: $first-color;
	}
}

@media (max-width: 991.98px) {
	.section_descr {
		height: fit-content;
		line-height: 24px;
		font-size: 20px;
	}
}

.info {
	margin-top: 80px;
	display:inline-flex;
	height: 475px;
	max-width: 1415px;
	font-size: 22px;
	color: $first-color;
	&_descr {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		color: $first-color;
		line-height: 38px;
		width: 660px;
		height: 100%;
	}
	&_list {
		margin-left: 70px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: 15px;
		&_item {
			display: flex;
			align-items: center;
			gap: 20px;
		}
		&_text {
			display: block;
			max-width: 685px;
			text-align: left;
		}
	}
}

@media (max-width: 1100.98px) {
	.info {
		font-size: 20px;
		&_descr {
			width: 50%;
		}
		&_list {
			margin-left: 50px;
			gap: 15px;
			&_item {
				gap: 16px;
			}
			&_text {
				display: block;
				max-width: 685px;
				text-align: left;
			}
		}
	}
}

@media (max-width: 991.98px) {
	.info {
		margin-top: 60px;
		display:flex;
		flex-wrap: wrap;
		font-size: 18px;
		gap: 30px;
		height: fit-content;
		&_descr {
			width: 100%;
			height: fit-content;
		}
		&_list {
			margin-left: 50px;
			gap: 15px;
			&_item {
				gap: 16px;
			}
			&_text {
				display: block;
				max-width: 685px;
				text-align: left;
			}
		}
	}
}

@media (max-width: 479.98px) {
	.info {
		&_descr {
			line-height: 24px;
		}
		&_list {
			margin-left: 0;
			&_icon {
				height: 30px;
			}
		}
	}
}



