.contacts {
	background-color: $first-color;
	.container {
		height: 272px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
	}
	&_item {
		display: block;
		width: 272px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		&_text{
			margin-top: 20px;
			cursor: pointer;
			color: $second-color;
			> h2 {
				text-align: center;
				line-height: 25px;
			}
			.text_bold {
				font-weight: bold;
			}
		}

	}
	.red_card {
		height: 100%;
		background-image: url("../../svgicons/red-card.svg");
		background-size: 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

}

@media (max-width: 991.98px) {
	.contacts {
		.container {
			height: 200px;
			padding: 0 0 0 20px;
		}
		&_item {
			width: 200px;
			height: 120px;
			&_text {
				font-size: 14px;
				p {
					text-align: center;
					line-height: 25px;
				}
			}
	
		}
	}
}

@media (max-width: 767.98px) {
	.contacts {
		.container {
			height: 200px;
			padding: 0 0 0 10px;
		}
		&_item {
		svg {
			width: 50%;
		}
		}
	}
	.text_small {
		display: none;
	}
	.red_card {
		background-color:$main-color;
		background-image: url("../../svgicons/red-card.svg");
		svg {
			width: 60%;
		}
	}
}

@media (max-width: 479.98px) {
	.contacts {
		.container {
			height: 100px;
		}
	}
	.contacts_item {
		&_text {
			margin-top: 0;
		}
		svg {
			height: 50px;
		}
	}
	.text_small {
		display: none;
	}
	.red_card {
		display: none;
	}
}