.footer {
	position: relative;
	min-height: 320px;
	padding: 70px 80px;
	background-color: $second-color;
	color: $first-color;

	&_wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-auto-rows: auto;
		justify-items: start;
		gap: 20px;
	}
	&_link {
		width: 250px ;
	}
	&_nav {
		text-transform: uppercase;
		p {
			font-size: 16px;
		 }
		 &_links {
			display: flex;
			flex-direction: column;
			margin-top: 10px;
		 }
		 &_link {
			margin-top: 10px;
			font-size: 14px;
			color: #ccc7c7;
			cursor: pointer;
		 }
	}
	&_contacts {
		color: $first-color;
		height: fit-content;
		display: flex;
		flex-direction: column;
		gap: 15px;
		&_item {
			display: flex;
			align-items: center;
			gap: 15px;
			line-height: 21px;
			a {
				color: $first-color;
				letter-spacing: 0.5px;
				word-spacing: 2px;
			}
		}
		&_icon {
			width: 28px;
		}
		&_link {
			transition: all 0.3s ease;
			&:hover {
				color: $main-color;
			}
		}
		&_social {
			transition: all 0.3s ease;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
	&_copyrights {
		padding: 0 10px;
		position: absolute;
		bottom: 15px;
		left: 50%;
		color: #aeaaaa;
		transform:translate(-50%, -50%);
		width: 100%;
		font-size: 14px;
	}
}

@media (max-width: 991.98px) {
	.footer {
		padding: 50px 10px 80px 10px;
		&_wrapper {
			gap: 15px;
		}
	}
}

@media (max-width: 639.98px) {
	.footer {
		&_wrapper{
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		}
		&_link {
			width: 90%;
		}
		&_contacts {
			&_item {
				font-size: 14px;
			}
			&_link {
				&:hover {
					color: $first-color;
				}
			}
		}
		&_contacts_1 {
			margin-top: 20px;
			grid-row: 2;
			width: 300px;
		}
		&_contacts_2 {
			grid-row: 3;
		}
	}
}