.main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 45%;
	&_first {
		background-image: url("../img/main-background.png");
	}
	&_warehousing {
		background-image: url("../img/bg_warehousing.png");
		background-position: 90%;
	}
	&_transloading {
		background-image: url("../../img/bg-transloading.png");
		background-position: 30%;
	}
	&_trucking {
		background-image: url("../../img/bg-trucking.png");
		background-position: 90%;
	}
	&_title {
		color: $first-color;
		font-size: 48px;
		line-height: 60px;
		font-weight: bold;
		text-transform: uppercase;
		&_second {
			text-align: center;
		}
	}
	&_descr {
		margin-top: 50px;
		width: 1100px;
		font-size: 24px;
		font-weight: bold;
		color: $first-color;
		line-height: 35px;
		text-align: center;
	}

}

@media (max-width: 1200.98px) {
	.main {
		&_title {
			font-size: 38px;
			line-height: 46px;
		}
		&_descr {
			width: fit-content;
			font-size: 22px;
		}
	}
}

@media (max-width: 639.98px) {
	.main {
		&_title {
			font-size: 34px;
			line-height: 46px;
		}
		&_descr {
			margin-top: 30px;
			font-size: 20px;
			line-height: 30px;
		}
	}
}

@media (max-width: 479.98px) {
	.main {
		&_title {
			font-size: 24px;
			line-height: 30px;
		}
		&_descr {
			margin-top: 20px;
			font-size: 18px;
			line-height: 26px;
			font-weight: normal;
		}
	}
}