.reviews {
	padding: 150px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../img/reviews-bg.png");
	height: fit-content;
	&_items {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 80px;
		margin-top: 70px;
	}
	&_item {
		position: relative;
		padding:30px 30px 30px 70px;
		height: 246px;
		width: 1150px;
		background-size:cover;
		background-repeat: no-repeat;
		background-image: url("../../img/reviews-card-bg.png");
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 60px;
		&_quotes{
			position: absolute;
			top: -23px;
			left: 50%;
		}
		&_icon {
			width: 140px;
			height: 130px;
		}
		&_text {
		font-weight: 500;
		font-size: 16px;
		color: $first-color;
		line-height: 20px;
		max-width: 800px;
		}
		&_author {
			font-weight: 700;
			margin-top: 10px;
		}
	}
}

@media (max-width: 1200.98px) {
	.reviews {
		padding: 100px 0;
		&_item {
			width: 100%;
			&_text {
				font-size: 14px;
			}
			&_icon {
				width: 111px;
				height: 100px;
			}
		}
	}
}

@media (max-width: 639.98px) {
	.reviews {
		&_item {
			padding: 16px;
			gap: 30px;
			&_text {
				font-size: 12px;
				line-height: 16px;
			}
			&_icon {
				width: 96px;
				height: 85px;
			}
		}
	}
}

@media (max-width: 479.98px) {
	.reviews {
		&_item {
			padding:30px 12px 30px 50px;
			height: fit-content;
			&_icon {
				display: none;
			}
		}
	}
}