.services {
	height: 1190px;
	padding: 150px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../img/truck-driving-on-the-road.webp");
	background-color: $first-color;
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&_descr {
		display: block;
		margin: 60px 0 0 0;
		height: 140px;
		width: 910px;
		color: $second-color;
		line-height: 28px;
		text-align: center;
		font-size: 24px;
		font-weight: 500;
	}
	&_items {
		width: 100%;
		margin-top: 105px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
	}
	&_item {
		position: relative;
		max-width: 360px;
		height: 500px;
		overflow: hidden;
	}
	&_image {
		display: inline-block;
		max-width: 100%;
		width: 100%;
		height: 100%;
		position: relative;
		transform: scale(1.2);
		transition: all 0.3s ease;
		&:hover {
			transform: scale(1.05);
			filter: invert(25%);
		}
	}
	&_name {
		position: absolute;
		bottom: 20%;
		left:50%;
		transform:translate(-50%, -50%);
		p {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 24px;
			color: #ffff;
			letter-spacing: 1px;
		}
		&_line {
			margin: 10px 0;
			height: 4px;
			max-width: 210px;
			background-color: #ffff;
		}
	}
}

@media (max-width: 991.98px) {
	.services {
		height: fit-content;
		padding: 100px 0;
		&_items {
			margin-top: 70px;
		}
		&_item {
			height: 280px;
			max-width: 180px;
		}
		&_name {
			p {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 560.98px) {
	.services {
		&_items {
			flex-direction: column;
		}
		&_item {
			position: relative;
			height: 380px;
			max-width: 100%;
		}
		&_name {
			p {
				font-size: 24px;
			}
		}
	}
}