.transloading-about {
	background-color: $first-color;
	padding: 150px 0;
	&_items {
		margin-top: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px;
		counter-reset: numb;
	}
	&_item {
		position: relative;
		background-color: rgba($color: $second-color, $alpha: 0.8);
		height: 180px;
		width: 315px;
		z-index: 1;
		&:before {
			position: absolute;
			content: counter(numb);
			counter-increment: numb;
			color: rgba($color: $main-color, $alpha: 0.5);
			font-size: 10.8em;
			font-weight: 700;
			top: 0em;
			left: 1.1em;
			opacity: var(--before-opacity, 1);
			z-index: -1;
			-webkit-transition: all ease .3s;
			-moz-transition: all ease .3s;
			-ms-transition: all ease .3s;
			-o-transition: all ease .3s;
			transition: all 0.5s ease;
		}
		&_content {
			position: relative;
			margin-top: 4.3em;
			padding: 0 3em 3.1em 3em;
			padding-bottom: 2.3em;
			width: 210px;
			color: $first-color;
			transition: all ease .3s;
		}
		&_title {
			opacity: 1;
			font-size: 26px;
			font-weight: 600;
			line-height: 30px;
			transition: all ease .3s;
			&_active {
				opacity: 0;
			}
		}
		&_descr {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			top: -50px;
			left: 30px;
			width: 260px;
    		transform: scale(0.5);
			overflow: hidden;
			line-height: 18px;
			 &_active {
				visibility: visible;
				opacity: 1;
				transform: scale(1);
				transition: all ease 0.7s;
			 }

		}
	}
}

.transloading-solution {
	height: fit-content;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../img/bg-transloading-solutions.webp");
	padding: 150px 0;
	&_assets {
		margin: 0 auto;
		margin-top: 150px;
	}
	&_items {
		height: 490px;
		margin-top: 80px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		row-gap: 40px;
		column-gap: 70px;
		color: $first-color;
		line-height: 38px;
	}
	&_item {
		display: flex;
		align-items: center;
		gap: 20px;
		font-size: 22px;
		height: 60px;
		img {
			width: 50px;
		}
	}
	&_text {
		max-width: 430px;
		text-align: left;
	}
}

@media (max-width: 1350.98px) {
	.transloading-solution {
		padding: 100px 0;
		&_assets {
			margin-top: 100px;
		}
		&_items {
			width: fit-content;
			align-items: start;
			row-gap: 10px;
			column-gap: 30px;
			line-height: 30px;
		}
		&_item {
			align-items: start;
			gap: 16px;
			font-size: 20px;
			height: 60px;
			img {
				width: 40px;
			}
		}
	}
}

@media (max-width: 991.98px) {
	.transloading-solution {
		&_items {
			height: fit-content;
			margin: 100px auto 0px auto;
			padding-left: 10px;
		}
	}
}

@media (max-width: 720.98px) {
	.transloading-about {
		padding: 100px 0;
		&_items {
			margin-top: 60px;
			align-items: center;
			justify-content: center;
		}
	}
}

@media (max-width: 479.98px) {
	.transloading-about {
		&_item {
			&:before {
				left: 1em;
			}
			&_descr {
				width: 240px;
				line-height: 16px;
			}
		}
	}
	.transloading-solution {
		&_items {
			row-gap: 24px;
		}
		&_item {
			font-size: 18px;
			line-height: 20px;
			height: fit-content;
		}
	}
}