.trucking-about {
	background-color: $first-color;
	padding: 150px 0;
}

.trucking-solution {
	min-height: 930px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/bg-trucking-solution.webp");
	padding: 150px 0;
}