.trucking-about {
	padding: 150px 0;
}

.trucking-solution {
	min-height: 930px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/full-service-bg.png");
	padding: 150px 0;
}